In [1]:
import pandas as pd
import numpy as np

In [2]:
movies_imdb = pd.read_csv('IMDB-Dataset.csv')

In [20]:
movies_imdb

,movie title,Run Time,Rating,User Rating,Generes,Overview,Keywords,Director,Top 5 Casts,Writer,year,path
0,Top Gun: Maverick,"$170,000,000 (estimated)",8.6,187K,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash,-2022,/title/tt1745960/
1,Jurassic World Dominion,2 hours 27 minutes,6,56K,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael,-2022,/title/tt8041270/
2,Top Gun,"$15,000,000 (estimated)",6.9,380K,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash,-1986,/title/tt0092099/
3,Lightyear,"$71,101,257",5.2,32K,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane,-2022,/title/tt10298810/
4,Spiderhead,not-released,5.4,23K,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders,-2022,/title/tt9783600/
...,...,...,...,...,...,...,...,...,...,...,...,...
24397,Delicatessen,"FRF 24,000,000 (estimated)",7.6,85K,"['Comedy', 'Crime']",Post-apocalyptic surrealist black comedy about...,"['surrealist', 'black comedy', 'human meat', '...",Marc Caro,"['Jean-Pierre Jeunet', 'Marc Caro', 'Gilles Ad...",Jean-Pierre Jeunet,-1991,/title/tt0101700/
24398,Bitch Ass,not-released,5.5,52,"['Crime', 'Horror']",A gang initiation goes wrong when a group of f...,[],Bill Posley,"['Bill Posley', 'Teon Kelley', 'Tunde Laleye',...",Jonathan Colomb,-2022,/title/tt13991504/
24399,Bullwhip,not-released,5.1,398,"['Crime', 'Romance', 'Western']","In order to avoid the hangman's noose, a cowbo...","['taming of the shrew', 'fur trader', 'busines...",Harmon Jones,"['Guy Madison', 'Rhonda Fleming', 'James Griff...",Adele Buffington,-1958,/title/tt0051438/
24400,The Freshman,1 hour 42 minutes,6.4,20K,"['Comedy', 'Crime']",An N.Y.C. film school student accepts a job wi...,"['endangered species', 'fish out of water', 'g...",Andrew Bergman,"['Marlon Brando', 'Matthew Broderick', 'Bruno ...",Andrew Bergman,-1990,/title/tt0099615/
24401,Guys and Dolls,"$5,500,000 (estimated)",7.1,18K,"['Comedy', 'Crime', 'Musical']","In New York, a gambler is challenged to take a...","['mission', 'gambler', 'new york city', 'based...",Joseph L. Mankiewicz,"['Abe Burrows', 'Damon Runyon', 'Marlon Brando...",Jo Swerling,-1955,/title/tt0048140/

In [15]:
movies_imdb.shape

(23153, 12)

In [16]:
movies_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23153 entries, 0 to 24401
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   23153 non-null  object
 1   Run Time      23153 non-null  object
 2   Rating        23153 non-null  object
 3   User Rating   23153 non-null  object
 4   Generes       23153 non-null  object
 5   Overview      22943 non-null  object
 6   Plot Kyeword  23153 non-null  object
 7   Director      23153 non-null  object
 8   Top 5 Casts   23153 non-null  object
 9   Writer        23153 non-null  object
 10  year          23153 non-null  object
 11  path          23153 non-null  object
dtypes: object(12)
memory usage: 2.3+ MB

In [6]:
movies_imdb[movies_imdb['year'].isnull()]

,movie title,Run Time,Rating,User Rating,Generes,Overview,Plot Kyeword,Director,Top 5 Casts,Writer,year,path
495,Napoleon,not-released,no-rating,0,"['Action', 'Biography', 'Drama']",The film is an original and personal look at N...,[],Ridley Scott,"['Vanessa Kirby', 'Joaquin Phoenix', 'Ludivine...",David Scarpa,NaN,/title/tt13287846/
496,Napoleon,5 hours 30 minutes,8.2,7.8K,"['Biography', 'Drama', 'History']",A film about the French general's youth and ea...,"['military uniform', 'french politics', 'frenc...",Abel Gance,"['Albert Dieudonné', 'Vladimir Roudenko', 'Edm...",Abel Gance,NaN,/title/tt13287846/
562,I Saw the Devil,2 hours 24 minutes,7.8,127K,"['Action', 'Crime', 'Drama']",A secret agent exacts revenge on a serial kill...,"['revenge', 'decapitation', 'attempted rape', ...",Jee-woon Kim,"['Jee-woon Kim', 'Lee Byung-hun', 'Choi Min-si...",Park Hoon-jung,NaN,/title/tt4522918/
563,I Saw the Devil,not-released,no-rating,0,"['Action', 'Horror', 'Thriller']","Following an unspeakable tragedy, a rogue secr...","['remake of korean film', 'remake of asian fil...",Simon Barrett,"['Simon Barrett', 'Park Hoon-jung', 'United St...",Park Hoon-jung,NaN,/title/tt4522918/
717,Sherlock Holmes 3,not-released,no-rating,0,"['Action', 'Adventure', 'Mystery']",The plot is unknown at this time.,"['sherlock holmes character', 'dr. john watson...",Dexter Fletcher,"['Arthur Conan Doyle', 'Robert Downey Jr.', 'J...",Chris Brancato,NaN,/title/tt2094116/
...,...,...,...,...,...,...,...,...,...,...,...,...
24253,L.A. Rush,not-released,no-rating,0,"['Crime', 'Drama']",A father goes into the world of video gaming t...,['game'],Jiahuang Peng,"['Peng Chen', 'Elijah Wood', 'Whitney Anderson...",Peng Chen,NaN,/title/tt7970172/
24270,Crimelands,not-released,no-rating,0,['Crime'],Ethan Mullins is a violent man who rescues the...,['travel'],Jonny Wilson,"['Jonny Wilson', 'Ariel Winter', 'Clive Stande...",Colin Muir,NaN,/title/tt12422530/
24303,Catch and Kill,not-released,no-rating,0,"['Crime', 'Drama', 'Horror']",Plot unknown. Described as a horror film set i...,"['investigation', 'violence']",Brian De Palma,"['Brian De Palma', 'Brian De Palma', 'France',...",Brian De Palma,NaN,/title/tt8510036/
24304,Rent-a-Man,not-released,no-rating,0,"['Crime', 'Drama', 'Mystery']",A gangster hires a mysterious rent-a-man for a...,"['gangster', 'las vegas', 'desert', 'valley of...",Rafal Zlak,"['Rafal Zlak', 'Jomri D.', 'Jakub Baranski', '...",Rafal Zlak,NaN,/title/tt17075702/
24321,8 1/2,not-released,no-rating,0,['Crime'],Nine Hollywood legendary actresses stuck in a ...,"['title directed by female', 'title written by...",Susanna Lo,"['Susanna Lo', 'Susanna Lo', 'United States', ...",Susanna Lo,NaN,/title/tt1745873/

In [8]:
movies_imdb = movies_imdb.dropna(subset = ['year'])

In [14]:
movies_imdb = movies_imdb.drop_duplicates(subset = ['path'])

In [17]:
movies_imdb.rename(columns={'Plot Kyeword': 'Keywords'}, inplace=True)## Fixing typo in column name

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\3213928286.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb.rename(columns={'Plot Kyeword': 'Keywords'}, inplace=True)## Fixing typo in column name

In [22]:
columns_needed = ['movie title','Generes','Overview','Keywords','Director','Top 5 Casts','Writer']

In [23]:
movies_imdb[columns_needed] ##reducing to columns needed for the model

,movie title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer
0,Top Gun: Maverick,"['Action', 'Drama']",After more than thirty years of service as one...,"['fighter jet', 'sequel', 'u.s. navy', 'fighte...",Joseph Kosinski,"['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',...",Jim Cash
1,Jurassic World Dominion,"['Action', 'Adventure', 'Sci-Fi']",Four years after the destruction of Isla Nubla...,"['dinosaur', 'jurassic park', 'tyrannosaurus r...",Colin Trevorrow,"['Colin Trevorrow', 'Derek Connolly', 'Chris P...",Emily Carmichael
2,Top Gun,"['Action', 'Drama']",As students at the United States Navy's elite ...,"['pilot', 'male camaraderie', 'u.s. navy', 'gr...",Tony Scott,"['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ...",Jim Cash
3,Lightyear,"['Animation', 'Action', 'Adventure']",While spending years attempting to return home...,"['galaxy', 'spaceship', 'robot', 'rocket', 'sp...",Angus MacLane,"['Jason Headley', 'Matthew Aldrich', 'Chris Ev...",Angus MacLane
4,Spiderhead,"['Action', 'Crime', 'Drama']","In the near future, convicts are offered the c...","['discover', 'medical', 'test', 'reality', 'fi...",Joseph Kosinski,"['Rhett Reese', 'Paul Wernick', 'Chris Hemswor...",George Saunders
...,...,...,...,...,...,...,...
24397,Delicatessen,"['Comedy', 'Crime']",Post-apocalyptic surrealist black comedy about...,"['surrealist', 'black comedy', 'human meat', '...",Marc Caro,"['Jean-Pierre Jeunet', 'Marc Caro', 'Gilles Ad...",Jean-Pierre Jeunet
24398,Bitch Ass,"['Crime', 'Horror']",A gang initiation goes wrong when a group of f...,[],Bill Posley,"['Bill Posley', 'Teon Kelley', 'Tunde Laleye',...",Jonathan Colomb
24399,Bullwhip,"['Crime', 'Romance', 'Western']","In order to avoid the hangman's noose, a cowbo...","['taming of the shrew', 'fur trader', 'busines...",Harmon Jones,"['Guy Madison', 'Rhonda Fleming', 'James Griff...",Adele Buffington
24400,The Freshman,"['Comedy', 'Crime']",An N.Y.C. film school student accepts a job wi...,"['endangered species', 'fish out of water', 'g...",Andrew Bergman,"['Marlon Brando', 'Matthew Broderick', 'Bruno ...",Andrew Bergman
24401,Guys and Dolls,"['Comedy', 'Crime', 'Musical']","In New York, a gambler is challenged to take a...","['mission', 'gambler', 'new york city', 'based...",Joseph L. Mankiewicz,"['Abe Burrows', 'Damon Runyon', 'Marlon Brando...",Jo Swerling

In [24]:
movies_imdb = movies_imdb[columns_needed]

## Have to convert the lists in the columns Genre,Keyword and Cast from strings to list

In [25]:
import ast

In [26]:
columns_tolist = ['Generes', 'Keywords', 'Top 5 Casts']

In [27]:
movies_imdb[columns_tolist]

,Generes,Keywords,Top 5 Casts
0,"['Action', 'Drama']","['fighter jet', 'sequel', 'u.s. navy', 'fighte...","['Jack Epps Jr.', 'Peter Craig', 'Tom Cruise',..."
1,"['Action', 'Adventure', 'Sci-Fi']","['dinosaur', 'jurassic park', 'tyrannosaurus r...","['Colin Trevorrow', 'Derek Connolly', 'Chris P..."
2,"['Action', 'Drama']","['pilot', 'male camaraderie', 'u.s. navy', 'gr...","['Jack Epps Jr.', 'Ehud Yonay', 'Tom Cruise', ..."
3,"['Animation', 'Action', 'Adventure']","['galaxy', 'spaceship', 'robot', 'rocket', 'sp...","['Jason Headley', 'Matthew Aldrich', 'Chris Ev..."
4,"['Action', 'Crime', 'Drama']","['discover', 'medical', 'test', 'reality', 'fi...","['Rhett Reese', 'Paul Wernick', 'Chris Hemswor..."
...,...,...,...
24397,"['Comedy', 'Crime']","['surrealist', 'black comedy', 'human meat', '...","['Jean-Pierre Jeunet', 'Marc Caro', 'Gilles Ad..."
24398,"['Crime', 'Horror']",[],"['Bill Posley', 'Teon Kelley', 'Tunde Laleye',..."
24399,"['Crime', 'Romance', 'Western']","['taming of the shrew', 'fur trader', 'busines...","['Guy Madison', 'Rhonda Fleming', 'James Griff..."
24400,"['Comedy', 'Crime']","['endangered species', 'fish out of water', 'g...","['Marlon Brando', 'Matthew Broderick', 'Bruno ..."
24401,"['Comedy', 'Crime', 'Musical']","['mission', 'gambler', 'new york city', 'based...","['Abe Burrows', 'Damon Runyon', 'Marlon Brando..."

In [28]:
for i in columns_tolist:
    movies_imdb[i] = movies_imdb[i].apply(ast.literal_eval)

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\3853476170.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb[i] = movies_imdb[i].apply(ast.literal_eval)

In [29]:
movies_imdb[columns_tolist]

,Generes,Keywords,Top 5 Casts
0,"[Action, Drama]","[fighter jet, sequel, u.s. navy, fighter aircr...","[Jack Epps Jr., Peter Craig, Tom Cruise, Jenni..."
1,"[Action, Adventure, Sci-Fi]","[dinosaur, jurassic park, tyrannosaurus rex, v...","[Colin Trevorrow, Derek Connolly, Chris Pratt,..."
2,"[Action, Drama]","[pilot, male camaraderie, u.s. navy, grumman f...","[Jack Epps Jr., Ehud Yonay, Tom Cruise, Tim Ro..."
3,"[Animation, Action, Adventure]","[galaxy, spaceship, robot, rocket, space adven...","[Jason Headley, Matthew Aldrich, Chris Evans, ..."
4,"[Action, Crime, Drama]","[discover, medical, test, reality, fictional d...","[Rhett Reese, Paul Wernick, Chris Hemsworth, M..."
...,...,...,...
24397,"[Comedy, Crime]","[surrealist, black comedy, human meat, absurd ...","[Jean-Pierre Jeunet, Marc Caro, Gilles Adrien,..."
24398,"[Crime, Horror]",[],"[Bill Posley, Teon Kelley, Tunde Laleye, Me'li..."
24399,"[Crime, Romance, Western]","[taming of the shrew, fur trader, business riv...","[Guy Madison, Rhonda Fleming, James Griffith, ..."
24400,"[Comedy, Crime]","[endangered species, fish out of water, gangst...","[Marlon Brando, Matthew Broderick, Bruno Kirby..."
24401,"[Comedy, Crime, Musical]","[mission, gambler, new york city, based on sta...","[Abe Burrows, Damon Runyon, Marlon Brando, Jea..."

In [30]:
movies_imdb.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23153 entries, 0 to 24401
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   movie title  23153 non-null  object
 1   Generes      23153 non-null  object
 2   Overview     22943 non-null  object
 3   Keywords     23153 non-null  object
 4   Director     23153 non-null  object
 5   Top 5 Casts  23153 non-null  object
 6   Writer       23153 non-null  object
dtypes: object(7)
memory usage: 1.4+ MB

In [31]:
movies_imdb[movies_imdb.Overview.isnull()]

,movie title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer
172,John Wick: Chapter 4,"[Action, Crime, Thriller]",NaN,"[fourth part, assassin, sequel, john wick, cha...",Chad Stahelski,"[Shay Hatten, Derek Kolstad, Keanu Reeves, Don...",Michael Finch
1110,The Equalizer 3,"[Action, Crime, Thriller]",NaN,[],Antoine Fuqua,"[Dakota Fanning, Denzel Washington, Antoine Fu...",Richard Wenk
1818,Pathaan,"[Action, Crime, Drama]",NaN,[],Siddharth Anand,"[Shah Rukh Khan, Deepika Padukone, John Abraha...",Siddharth Anand
2510,Primary Position,"[Action, Drama, War]",NaN,[],Robert Amparan,"[Robert Amparan, Omar Gooding, Kris D. Lofton,...",Robert Amparan
2545,Black,"[Action, Thriller]",NaN,[],G.B. Krishna,"[Amani, Darshana Banik, G.B. Krishna, Aadi, Am...",Aadi
...,...,...,...,...,...,...,...
24124,Maria no chibusa,[Crime],NaN,[],Takahisa Zeze,"[Kokone Sasaki, Shima Ohnishi, Tomori Abe, Tak...",Takahisa Zeze
24140,Çildirtan kadin,[Crime],NaN,"[kiss, home invasion, straitjacket, escaped me...",Çetin Inanç,"[Cemil V. Akacan, Kamer Baba, Zerrin Egeliler,...",Engin Temizer
24147,Triple D Revenge,[Crime],NaN,[],Mista E,"[Daniel Tuttel, Gabriella Arlene, Jamal Benoit...",Mista E
24159,Untitled AMMA Project,"[Crime, Thriller]",NaN,[],Vysakh,"[Udaykrishnan, Fahadh Faasil, Mammootty, Prith...",Rajeev Kumar
24167,Virgin People 2,"[Drama, Crime]",NaN,"[numbered sequel, sequel, remake by original d...",Celso Ad. Castillo,"[Celso Ad. Castillo, Sunshine Cruz, Sharmaine ...",Rolando Aquino

In [32]:
##dropping movies where overview not present
movies_imdb.dropna(subset=['Overview'], inplace=True)

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\2718163738.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb.dropna(subset=['Overview'], inplace=True)

In [33]:
movies_imdb.shape

(22943, 7)

In [35]:
movies_imdb

,movie title,Generes,Overview,Keywords,Director,Top 5 Casts,Writer
0,Top Gun: Maverick,"[Action, Drama]",After more than thirty years of service as one...,"[fighter jet, sequel, u.s. navy, fighter aircr...",Joseph Kosinski,"[Jack Epps Jr., Peter Craig, Tom Cruise, Jenni...",Jim Cash
1,Jurassic World Dominion,"[Action, Adventure, Sci-Fi]",Four years after the destruction of Isla Nubla...,"[dinosaur, jurassic park, tyrannosaurus rex, v...",Colin Trevorrow,"[Colin Trevorrow, Derek Connolly, Chris Pratt,...",Emily Carmichael
2,Top Gun,"[Action, Drama]",As students at the United States Navy's elite ...,"[pilot, male camaraderie, u.s. navy, grumman f...",Tony Scott,"[Jack Epps Jr., Ehud Yonay, Tom Cruise, Tim Ro...",Jim Cash
3,Lightyear,"[Animation, Action, Adventure]",While spending years attempting to return home...,"[galaxy, spaceship, robot, rocket, space adven...",Angus MacLane,"[Jason Headley, Matthew Aldrich, Chris Evans, ...",Angus MacLane
4,Spiderhead,"[Action, Crime, Drama]","In the near future, convicts are offered the c...","[discover, medical, test, reality, fictional d...",Joseph Kosinski,"[Rhett Reese, Paul Wernick, Chris Hemsworth, M...",George Saunders
...,...,...,...,...,...,...,...
24397,Delicatessen,"[Comedy, Crime]",Post-apocalyptic surrealist black comedy about...,"[surrealist, black comedy, human meat, absurd ...",Marc Caro,"[Jean-Pierre Jeunet, Marc Caro, Gilles Adrien,...",Jean-Pierre Jeunet
24398,Bitch Ass,"[Crime, Horror]",A gang initiation goes wrong when a group of f...,[],Bill Posley,"[Bill Posley, Teon Kelley, Tunde Laleye, Me'li...",Jonathan Colomb
24399,Bullwhip,"[Crime, Romance, Western]","In order to avoid the hangman's noose, a cowbo...","[taming of the shrew, fur trader, business riv...",Harmon Jones,"[Guy Madison, Rhonda Fleming, James Griffith, ...",Adele Buffington
24400,The Freshman,"[Comedy, Crime]",An N.Y.C. film school student accepts a job wi...,"[endangered species, fish out of water, gangst...",Andrew Bergman,"[Marlon Brando, Matthew Broderick, Bruno Kirby...",Andrew Bergman
24401,Guys and Dolls,"[Comedy, Crime, Musical]","In New York, a gambler is challenged to take a...","[mission, gambler, new york city, based on sta...",Joseph L. Mankiewicz,"[Abe Burrows, Damon Runyon, Marlon Brando, Jea...",Jo Swerling

In [36]:
## Removing whitespaces from Genre, keywords, cast, director, writer

In [37]:
def remove_spaces(L):
    L1 = []
    for i in L:
        L1.append(i.replace(" ",""))
    return L1

In [38]:
list_columns = ['Generes', 'Keywords','Top 5 Casts']

In [39]:
for i in list_columns:
    movies_imdb[i] = movies_imdb[i].apply(remove_spaces)

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\2805020377.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb[i] = movies_imdb[i].apply(remove_spaces)

In [40]:
movies_imdb[list_columns]

,Generes,Keywords,Top 5 Casts
0,"[Action, Drama]","[fighterjet, sequel, u.s.navy, fighteraircraft...","[JackEppsJr., PeterCraig, TomCruise, JenniferC..."
1,"[Action, Adventure, Sci-Fi]","[dinosaur, jurassicpark, tyrannosaurusrex, vel...","[ColinTrevorrow, DerekConnolly, ChrisPratt, Br..."
2,"[Action, Drama]","[pilot, malecamaraderie, u.s.navy, grummanf14t...","[JackEppsJr., EhudYonay, TomCruise, TimRobbins..."
3,"[Animation, Action, Adventure]","[galaxy, spaceship, robot, rocket, spaceadvent...","[JasonHeadley, MatthewAldrich, ChrisEvans, Kek..."
4,"[Action, Crime, Drama]","[discover, medical, test, reality, fictionaldr...","[RhettReese, PaulWernick, ChrisHemsworth, Mile..."
...,...,...,...
24397,"[Comedy, Crime]","[surrealist, blackcomedy, humanmeat, absurdcom...","[Jean-PierreJeunet, MarcCaro, GillesAdrien, Ma..."
24398,"[Crime, Horror]",[],"[BillPosley, TeonKelley, TundeLaleye, Me'lisaS..."
24399,"[Crime, Romance, Western]","[tamingoftheshrew, furtrader, businessrival, h...","[GuyMadison, RhondaFleming, JamesGriffith, Har..."
24400,"[Comedy, Crime]","[endangeredspecies, fishoutofwater, gangster, ...","[MarlonBrando, MatthewBroderick, BrunoKirby, A..."
24401,"[Comedy, Crime, Musical]","[mission, gambler, newyorkcity, basedonstagemu...","[AbeBurrows, DamonRunyon, MarlonBrando, JeanSi..."

In [41]:
## Now for director and writer
movies_imdb['Director'] = movies_imdb['Director'].apply(lambda x:x.replace(" ",""))
movies_imdb['Writer'] = movies_imdb['Writer'].apply(lambda x:x.replace(" ",""))

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\1389746227.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['Director'] = movies_imdb['Director'].apply(lambda x:x.replace(" ",""))
C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\1389746227.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['Writer'] = movies_imdb['Writer'].apply(lambda x:x.replace(" ",""))

In [42]:
#Turning overview paragraph into list

movies_imdb['Overview'] = movies_imdb.Overview.apply(lambda x: x.split())

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\2018895710.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['Overview'] = movies_imdb.Overview.apply(lambda x: x.split())

In [43]:
#Turning Director and Writer into lists
movies_imdb['Director'] = movies_imdb['Director'].apply(lambda x:[x])
movies_imdb['Writer'] = movies_imdb['Writer'].apply(lambda x:[x])

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\1504923567.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['Director'] = movies_imdb['Director'].apply(lambda x:[x])
C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\1504923567.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['Writer'] = movies_imdb['Writer'].apply(lambda x:[x])

In [44]:
##Creating tags column

In [45]:
movies_imdb['tags'] = movies_imdb['Generes'] + movies_imdb['Overview'] + movies_imdb['Keywords'] + movies_imdb['Director'] + movies_imdb['Top 5 Casts'] + movies_imdb['Writer']

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\2849284389.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['tags'] = movies_imdb['Generes'] + movies_imdb['Overview'] + movies_imdb['Keywords'] + movies_imdb['Director'] + movies_imdb['Top 5 Casts'] + movies_imdb['Writer']

In [46]:
def to_lower_case(L):
    L1 = []
    for i in L:
        L1.append(str.lower(i))
    return L1

In [47]:
movies_imdb['tags'] = movies_imdb['tags'].apply(to_lower_case)

C:\Users\Kunvar\AppData\Local\Temp\ipykernel_30400\253643073.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  movies_imdb['tags'] = movies_imdb['tags'].apply(to_lower_case)

In [48]:
movies_new = movies_imdb.drop(columns = ['Generes','Overview','Keywords','Director','Top 5 Casts','Writer'])

In [49]:
movies_new.reset_index(drop=True, inplace=True)

In [50]:
movies_new['tags'] = movies_new['tags'].apply(lambda x: " ".join(x))

In [51]:
## function to get stem/root words from tags
import nltk
from nltk.stem.porter import PorterStemmer

In [52]:
def stem(text):
    ps = PorterStemmer()
    x =[]
    for i in text.split():
        x.append(ps.stem(i))
    
    return " ".join(x)

In [53]:
movies_new["tags"] = movies_new["tags"].apply(stem)

In [54]:
movies_new

,movie title,tags
0,Top Gun: Maverick,action drama after more than thirti year of se...
1,Jurassic World Dominion,action adventur sci-fi four year after the des...
2,Top Gun,action drama as student at the unit state navy...
3,Lightyear,anim action adventur while spend year attempt ...
4,Spiderhead,"action crime drama in the near future, convict..."
...,...,...
22938,Delicatessen,comedi crime post-apocalypt surrealist black c...
22939,Bitch Ass,crime horror a gang initi goe wrong when a gro...
22940,Bullwhip,crime romanc western in order to avoid the han...
22941,The Freshman,comedi crime an n.y.c. film school student acc...
22942,Guys and Dolls,"comedi crime music in new york, a gambler is c..."

## Model Creation

In [55]:
from sklearn.feature_extraction.text import CountVectorizer

In [56]:
cv = CountVectorizer(max_features=15000,stop_words='english')

In [57]:
vector = cv.fit_transform(movies_new['tags']).toarray()

In [58]:
vector.shape

(22943, 15000)

In [59]:
from sklearn.metrics.pairwise import cosine_similarity

In [60]:
similarity = cosine_similarity(vector)

In [61]:
similarity.shape

(22943, 22943)

In [62]:
def get_index(movie_name):
    idx = movies_new[movies_new['movie title'] == movie_name].index[0]
    return idx

In [63]:
def recommend_1(movie):
    movie = movie[0]
    index = movies_new[movies_new['movie title'] == movie].index[0]
    distances = sorted(list(enumerate(similarity[index])),reverse=True,key = lambda x: x[1])
    for i in distances[1:11]:
        print(movies_new.iloc[i[0]]['movie title'])

In [64]:
def recommend_2(movie_list):
    index1= get_index(movie_list[0])
    index2= get_index(movie_list[1])
    pd1 = pd.DataFrame(list(enumerate(similarity[index1])),columns=['index number','distance']) 
    pd2 = pd.DataFrame(list(enumerate(similarity[index2])),columns=['index number','distance']) 
    pd4=pd.merge(pd1, pd2, on='index number', how='outer')
    pd4['average_dist'] = (pd4['distance_y'] + pd4['distance_x'])/2
    pd4 = pd4.sort_values(by = 'average_dist',ascending = False)
    for i in pd4['index number'][2:12].index:
        print(movies_new.iloc[i]['movie title'])

## We will be taking the cosine distance of all movies with 3 movies selected by user, Find the top movies with highest average cosine distance to the 3 movies selected and print them

In [65]:
def recommend_3(movie_list):
    index1= get_index(movie_list[0])
    index2= get_index(movie_list[1])
    index3= get_index(movie_list[2])
    pd1 = pd.DataFrame(list(enumerate(similarity[index1])),columns=['index number','distance']) 
    pd2 = pd.DataFrame(list(enumerate(similarity[index2])),columns=['index number','distance']) 
    pd3 = pd.DataFrame(list(enumerate(similarity[index3])),columns=['index number','distance']) 
    pd4=pd.merge(pd1, pd2, on='index number', how='outer').merge(pd3, on='index number', how='outer')
    pd4['average_dist'] = (pd4['distance'] + pd4['distance_x'] + pd4['distance_y'])/3
    pd4 = pd4.sort_values(by = 'average_dist',ascending = False)
    for i in pd4['index number'][3:14].index:
        print(movies_new.iloc[i]['movie title'])

## Function to decide if we are inputing 1,2 or 3 movies

In [66]:
def recommend(movie_list):
    if len(movie_list) == 1:
        return recommend_1(movie_list)
    elif len(movie_list) == 2:
        return recommend_2(movie_list)
    elif len(movie_list) == 3:
        return recommend_3(movie_list)

## Final Model

In [73]:
movies = ['Kill Bill: Vol. 1']

In [74]:
recommend(movies)

Kill Bill: Vol. 2
Kill Bill: The Whole Bloody Affair
Pulp Fiction
Inglourious Basterds
Shikari
The Hateful Eight
Django Unchained
My Best Friend's Birthday
Reservoir Dogs
Death Proof

## Exporting model to app

In [75]:
import pickle as pkl

In [89]:
similarity_float32 = similarity.astype(np.float32) ## changing type to reduce size

In [76]:
similarity_float16 = similarity.astype(np.float16)

In [101]:
pkl.dump(similarity_float32, open('similarity_32.pkl', 'wb'))

In [79]:
pkl.dump(similarity_float16, open('similarity_16_new.pkl', 'wb'))

In [77]:
movies_new.shape

(22943, 2)

In [78]:
similarity.shape

(22943, 22943)

## adding additional info to the movie data like rating/poster path

In [80]:
df1 = pd.read_csv('data_with_info.csv')

In [81]:
df1 = df1[['title','id','vote_average','poster_path']]

In [82]:
df1.rename(columns = {'title':'movie title'},inplace =True)

In [83]:
movies_new.columns

Index(['movie title', 'tags'], dtype='object')

In [84]:
movies_new = movies_new.merge(df1, on= 'movie title', how ='left')

In [86]:
movies_new.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 22943 entries, 0 to 22942
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   movie title   22943 non-null  object
 1   tags          22943 non-null  object
 2   id            22943 non-null  int64
 3   vote_average  21153 non-null  float64
 4   poster_path   20988 non-null  object
dtypes: float64(1), int64(1), object(3)
memory usage: 1.1+ MB

In [87]:
movies_new.to_pickle('movies_new2.pkl')

In [88]:
movies_new.shape

(22943, 5)